<h1>
    <%= @genre.name %>
</h1>

<ul>
    <% @genre.movies.each do |movie| %>
        <li>
            <%= movie.title %>
        </li>
    <% end %>
</ul>

<% if @current_user.present? %>
    <div>
        <%= link_to 'Edit genre', edit_genre_path(@genre) %>
        <%= link_to 'Delete genre', @genre, :method => 'delete', :data => { :confirm => 'Sure?' } %>
    </div>
<% end %>