<div class="center-block bottom-gap">
    <h1 class="show-headers">
        <%= @genre.name %> Movies
    </h1>
    <div class="show-container">
        
        <div class="show-list-display">
            <% @genre.movies.each do |movie| %>
                <%= link_to(movie.title, movie, :class => 'genres') %>
            <% end %>
        </div>
    </div>
</div>