<h1>
    All Movies
</h1>

<% @movies.each do |movie| %>
    <p>
        <%= image_tag(movie.poster, :class => 'thumb') %>
        <%= link_to(movie.title, movie_path(movie.id)) %>
    </p>   
<% end %>